<section class="section1">
    <div class="container clearfix">
        <div class="content clearfix">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i>User profile</h4><br/>

                <div ng-show="errorMessage.length > 0" class="alert alert-danger">{{errorMessage}}</div>
                <table class="table table-striped" data-effect="fade">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td>Tax ID</td>
                        <td>{{user.tax_id}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Street</td>
                        <td>{{user.street}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{user.city}}</td>
                    </tr>
                    <tr>
                        <td>Zip Code 1</td>
                        <td>{{user.zip_code1}}</td>
                    </tr>
                    <tr>
                        <td>Zip Code 2</td>
                        <td>{{user.zip_code2}}</td>
                    </tr>
                    </tbody>
                </table>

                <button class="btn btn-theme" id="editFormSubmitButton" ng-click="goToEdit()">Edit User</button>
            </div>

            <br/>

            <h4 class="mb"><i class="fa fa-angle-right"></i>User history</h4>
            <br/>
            <table datatable="" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Total</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.id}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.state}}</td>
                    <td>{{order.total | currency: "€"}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <button ng-click="a()"></button>
    </div>
</section>