<section class="section1">
    <div class="container clearfix">
        <div class="content clearfix">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i>User profile</h4><br/>

                <div ng-show="errorMessage.length > 0" class="alert alert-danger">{{errorMessage}}</div>
                <table class="table table-striped" data-effect="fade">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td>Tax ID</td>
                        <td>{{user.tax_id}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Street</td>
                        <td>{{user.street}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{user.city}}</td>
                    </tr>
                    <tr>
                        <td>Zip Code</td>
                        <td>{{user.zip_code1}}-{{user.zip_code2}}</td>
                    </tr
                    </tbody>
                </table>

                <button class="btn btn-theme" id="editFormSubmitButton" ng-click="goToEdit()">Edit Profile</button>
            </div>

            <br/>

            <h4 class="mb"><i class="fa fa-angle-right"></i>User history</h4>
            <br/>
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover"
                   class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>State</th>
                    <th>Total</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="order in orders" ng-click="open(lg, $index)">
                    <td>{{order.id}}</td>
                    <td>{{order.date | date}}</td>
                    <td>{{order.state | translateState}}</td>
                    <td>{{order.total | currency: "€"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Login Modal -->
<script type="text/ng-template" id="historyModal.html">
    <div class="container">
        <table class="table table-striped" data-effect="fade">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ID</td>
                <td>{{order.id}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{order.date | date}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{order.state | translateState}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{order.total | currency: "€"}}</td>
            </tr>
            <tr>
                <td>Delivery Address</td>
                <td>{{order.delivery_address}}</td>
            </tr>
            <tr>
                <td>Delivery City</td>
                <td>{{order.delivery_city}}</td>
            </tr>
            <tr>
                <td>Delivery Zip Code</td>
                <td>{{order.delivery_zip1}}-{{order.delivery_zip2}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped" data-effect="fade" ng-repeat="line in order.lines">
            <thead>
            <tr>
                <th>Product: </th>
                <th>{{$index + 1}}</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>Product ID</td>
                <td><a ng-href="#/products/{{line.product_id}}" ng-click="close()">{{line.product_id}}</a></td>
            </tr>

            <tr>
                <td>Unit Price</td>
                <td>{{line.unit_price | currency: "€"}}</td>
            </tr>

            <tr>
                <td>Quantity</td>
                <td>{{line.quantity}}</td>
            </tr>

            <tr>
                <td>Total</td>
                <td>{{line.total | currency: "€"}}</td>
            </tr>

            <tr>
                <td>Color</td>
                <td>{{line.color}}</td>
            </tr>

            <tr>
                <td>Size</td>
                <td>{{line.size}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</script>