<section class="section1">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="title">Contact Form</h4>
                <div id="message"></div>
                <form id="contact" action="contact.php" name="contactform" class="row" method="post">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone">
                        <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Your Message ..."></textarea>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="pull-left">
                            <label for="verify">3+1=?</label> <input name="verify" type="text" id="verify" value="" class="form-control form-verif" />
                        </div>
                        <div class="pull-right">
                            <input type="submit" value="SEND" id="submit" class="button small">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="title">Contact Details</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <ul class="contact_details">
                    <li><i class="fa fa-envelope-o"></i> info@yoursite.com</li>
                    <li><i class="fa fa-phone-square"></i> +34 5565 6555</li>
                    <li><i class="fa fa-home"></i> Some Fine Address, 887, Madrid, Spain.</li>
                </ul><!-- contact_details -->
            </div>

            <div class="clearfix"></div>
            <div class="divider"></div>

            <h4 class="title">Social Media</h4>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="dm-icon-effect-1" data-effect="slide-bottom">
                            <a href="#" class=""> <i class="dm-icon fa fa-facebook fa-3x"></i> </a>
                        </div>
                        <div class="servicetitle">
                            <h4>Facebook</h4>
                        </div>
                    </div><!-- service-icon -->
                </div><!-- servicebox -->
            </div><!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="dm-icon-effect-1" data-effect="slide-bottom">
                            <a href="#" class=""> <i class="dm-icon fa fa-twitter fa-3x"></i> </a>
                        </div>
                        <div class="servicetitle">
                            <h4>Twitter</h4>
                        </div>
                    </div><!-- service-icon -->
                </div><!-- servicebox -->
            </div><!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="dm-icon-effect-1" data-effect="slide-bottom">
                            <a href="#" class=""> <i class="dm-icon fa fa-google-plus fa-3x"></i> </a>
                        </div>
                        <div class="servicetitle">
                            <h4>Google Plus</h4>
                        </div>
                    </div><!-- service-icon -->
                </div><!-- servicebox -->
            </div><!-- large-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="dm-icon-effect-1" data-effect="slide-bottom">
                            <a href="#" class=""> <i class="dm-icon fa fa-youtube fa-3x"></i> </a>
                        </div>
                        <div class="servicetitle">
                            <h4>Youtube</h4>
                        </div>
                    </div><!-- service-icon -->
                </div><!-- servicebox -->
            </div><!-- large-3 -->

        </div><!-- end content -->
    </div><!-- end container -->
</section><!-- end section -->

<script type="application/javascript">
    $('#jetmenu li').removeClass('active');
    $('#jetmenu .contact').addClass('active');
</script>
