<section class="marketplace-top" style="background-color: #ffffff">
    <div class="row" id="market-wrapper" style="background-color: #ffffff">
        <div class="item_image col-lg-8 col-lg-offset-2">
            <img data-effect="fade" class="aligncenter" ng-src="http://127.0.0.1:49822/api/images/{{selected_image}}" alt="">
        </div><!-- end item_image -->
    </div>
</section>

<section class="section1">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix" style="padding-bottom: 0px;">
            <div class="general-title text-center">
                <h3>{{product.name}}</h3>
                <p>by {{product.brand}}</p>
                <hr>
            </div>

            <div class="divider"></div>


            <div class="divider"></div>

            <div class="item_details">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="theme_details">
                        <div class="details_section">
                            <h3>Item Details</h3>
                                     <span style="color: #2B2E31; font-size: 16px;">
                                         Material: <br><span style="color: #696E74; font-size: 14px;">{{product.material}}</span>
                                     </span><br>
                                     <span style="color: #2B2E31; font-size: 16px;" ng-repeat="(key, array) in select_options">{{key}}: <br>
                                        <select style="font-size: 12px;" ng-model="current[key]" ng-change="updateSelected(key)">
                                            <option ng-repeat="val in array">{{val}}</option>
                                        </select>
                                    <br></span>
                        </div>
                    </div>
                </div><!-- col-lg-3 -->

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="theme_details">
                        <div class="item-description">
                            <p>{{product.description}}</p>
                        </div><!-- item-description -->
                    </div><!-- theme_details -->
                </div><!-- col-lg-6 -->

                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="theme_details">
                        <div class="item_price">
                            <h3><span><small>$</small>{{product.price}}</span></h3>
                        </div><!-- item_price -->
                        <hr>
                        <div class="buttons">
                            <a class="button btn-block large" data-toggle="popover" data-html="true" data-placement="top" data-container="body" title="Stock in shops"
                               data-content="{{stockString}}">{{current["stock"]}} in Stock</a>
                            <!--<a class="button btn-block large" ng-if="current['stock'] > 0" href="#"><i class="fa fa-download"></i> BUY NOW</a>-->
                            <ngcart-addtocart ng-if="current['stock']" id="{{ current.id }}" name="{{ product.name }}" price="{{ product.price }}" data="current"><i class="fa fa-shopping-cart"></i> Add to cart</ngcart-addtocart>
                        </div><!-- buttons -->
                    </div><!-- theme_details -->
                </div><!-- col-lg-3 -->


            </div><!-- item_details -->

            <div class="clearfix"></div>
        </div><!-- end content -->
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <div class="general-title text-center">
                <h3>Images</h3>
                <hr>
            </div>

            <div class="divider"></div>

            <div class="col-lg-12" >
                <div class="col-md-4 he-wrap tpl6 market-item" ng-if="product.image_links.length == 3" ng-repeat="image in product.image_links">
                    <img class="lazyOwl" ng-click='updateImage($index)' ng-src="http://127.0.0.1:49822/api/images/{{image}}" alt="">
                </div><!-- he wrap -->
                <div class="col-md-6 he-wrap tpl6 market-item" ng-if="product.image_links.length == 2" ng-repeat="image in product.image_links">
                    <img class="lazyOwl" ng-click='updateImage($index)' ng-src="http://127.0.0.1:49822/api/images/{{image}}" alt="">
                </div><!-- he wrap -->
                <div class="col-md-12 he-wrap tpl6 market-item" ng-if="product.image_links.length == 1" ng-repeat="image in product.image_links">
                    <img class="lazyOwl" ng-click='updateImage($index)' ng-src="http://127.0.0.1:49822/api/images/{{image}}" alt="">
                </div><!-- he wrap -->
                </div>
        </div><!-- end content -->
    </div><!-- end container -->

</section><!-- end section -->

<script type="application/javascript">
    $('#jetmenu li').removeClass('active');
    $('#jetmenu .products').addClass('active');
    $('[data-toggle="popover"]').popover();
</script>


