<section class="marketplace-top">
    <div id="market-wrapper">
        <div class="container">
            <header class="text-center">
                <h1>Awesome bags<br>
                    for your amazing tech.</h1>
                <p class="mbuttons">
                    <a class="dmbutton" href="#/viewProducts">View all items</a>
                </p>
                <img data-effect="fade" class="aligncenter" width="1260" height="400" src="assets/Theme/demos/market_single_01.png" alt="">
            </header>
        </div>
    </div><!-- end post-wrapper-top -->
</section>

<section class="section2">
    <div class="message text-center">
        <h2 class="big-title">Design Creates An <span>Emotional</span> Connection.</h2>
        <p class="small-title">There’s more to design than meets the eye.<br/>More than gorgeous, TechBags are created with the user experience in mind</p>
        <!-- <a class="button large" href="pricing-tables.html">VIEW PRICING DETAILS</a> <a class=" dmbutton large" href="contact.html">CONTACT US TODAY</a>-->
    </div><!-- end message -->
</section><!-- end section3 -->

<section class="section1" ng-controller="HomeCtrl as home ">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">

            <div class="general-title text-center">
                <h3>HOT PRODUCTS</h3>
                <p>Our best seller items</p>
                <hr>
            </div>

            <div class="divider"></div>
            <div class="portfolio-centered text-center" style="margin-top: -70px" >
                <div class="recentitems portfolio container">

                    <div class="portfolio-item col-md-3" style="margin-top: 20px"
                         ng-repeat="product in home.hots | limitTo: 4">
                        <div class="he-wrap tpl6">
                            <img ng-src="{{home.link + 'images/' + product.image_links[0]}}" alt="">
                            <div class="he-view">
                                <div class="bg a0" data-animate="fadeIn">
                                    <h3 class="a1" data-animate="fadeInDown">{{product.name}}</h3>
                                    <a data-rel="prettyPhoto" href="{{home.link + 'images/' + product.image_links[0]}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                    <a ng-href="#products/{{product.id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                                </div><!-- he bg -->
                            </div><!-- he view -->
                        </div><!-- he wrap -->
                    </div>

                </div><!-- portfolio -->

            </div><!-- portfolio container -->
        </div><!-- end content -->
    </div><!-- end container -->

    <div class="container clearfix" style="margin-top: -100px">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">

            <div class="general-title text-center">
                <h3>FAST DELIVERY</h3>
                <p>Order now get it tomorrow</p>
                <hr>
            </div>

            <div class="divider"></div>
            <div class="portfolio-centered text-center" style="margin-top: -70px">
                <div class="recentitems portfolio container">

                    <div class="portfolio-item col-md-3" style="margin-top: 20px"
                         ng-repeat="product in home.monos | limitTo: 4">
                        <div class="he-wrap tpl6">
                            <img ng-src="{{home.link + 'images/' + product.image_links[0]}}" alt="">
                            <div class="he-view">
                                <div class="bg a0" data-animate="fadeIn">
                                    <h3 class="a1" data-animate="fadeInDown">{{product.name}}</h3>
                                    <a data-rel="prettyPhoto" href="{{home.link + 'images/' + product.image_links[0]}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                    <a ng-href="#products/{{product.id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                                </div><!-- he bg -->
                            </div><!-- he view -->
                        </div><!-- he wrap -->
                    </div>

                </div><!-- portfolio -->

            </div><!-- portfolio container -->
        </div><!-- end content -->
    </div><!-- end container -->
</section><!-- end section -->


<section class="section3 withpadding">
    <div class="container">
        <div class="general-title text-center">
            <h3>INCLUDED IN OUR PRODUCTS</h3>
            <p>Quality & Service are not just words for us.</p>
            <hr>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-left">
                        <a href="#" class=""> <i class="dm-icon fa fa-money fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Affordable Price</h4>
                        <hr>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                </div><!-- service-icon -->
            </div><!-- servicebox -->
        </div><!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-bottom">
                        <a href="#" class=""> <i class="dm-icon fa fa-trophy fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Best Quality</h4>
                        <hr>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                </div><!-- service-icon -->
            </div><!-- servicebox -->
        </div><!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-bottom">
                        <a href="#" class=""> <i class="dm-icon fa fa-heart-o fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>24/7 Support</h4>
                        <hr>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                </div><!-- service-icon -->
            </div><!-- servicebox -->
        </div><!-- large-3 -->

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-right">
                        <a href="#" class=""> <i class="dm-icon fa fa-book fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Lifetime Warranty</h4>
                        <hr>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
                </div><!-- service-icon -->
            </div><!-- servicebox -->
        </div><!-- large-3 -->

    </div><!-- end container -->
</section><!-- end section -->

<section class="market-call withpadding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="img-responsive" src="assets/Theme/demos/market_alone.png" data-effect="slide-left">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="general-title text-center">
                    <h3>OUR NEWSLETTER</h3>
                    <p>Latest products, promotions & more.</p>
                    <hr>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="text-center withpadding">
                    <a class=" dmbutton large" href="#">SUBSCRIBE NOW</a>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- end container -->
</section><!-- end section1 -->



<section class="section1">
    <div class="container">
        <div class="message">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h3>Ready to me amazed?</h3>
                <p>We love our products and so will you!</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="dmbutton button large pull-right" href="#/viewProducts">View all items</a>
            </div>
        </div><!-- end message -->
    </div><!-- end container -->
</section><!-- end section3 -->


<script type="application/javascript">
    $('#jetmenu li').removeClass('active');
    $('#jetmenu .home').addClass('active');

    $("#popularitems").owlCarousel({
        items : 3,
        lazyLoad : true,
        navigation : false
    });
    /* $('#jetmenu .checkout a').css("border-top", $('body').css("background-color"));*/
</script>