<section class="section1" ng-controller="viewCategoryCtrl as view">
    <div class="clearfix">

        <div class="divider"></div>

        <nav class="portfolio-filter clearfix" >
            <ul>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("*")'>All</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("canvas")'>Canvas</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("fabric")'>Fabric</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("faux fur")'>Faux fur</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("hard plastic")'>Hard plastic</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("leather")'>Leather</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("neoprene")'>Neoprene</a></li>
                <li><a href="" class="dmbutton2" ng-click='view.setMaterial("nylon")'>Nylon</a></li>
            </ul>
        </nav>

        <nav class="portfolio-filter" style="margin-top: -25px">
            <ul>
                <!--TODO: change to circles -->
                <li><a href="" class="dmbutton2" ng-click='view.setColor("*")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: red" ng-click='view.setColor("red")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: blue" ng-click='view.setColor("blue")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: green" ng-click='view.setColor("green")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: saddlebrown" ng-click='view.setColor("brown")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: #000000" ng-click='view.setColor("black")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: #ffff00" ng-click='view.setColor("yellow")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: pink" ng-click='view.setColor("pink")'></a></li>
                <li><a href="" class="dmbutton2" style="background-color: white" ng-click='view.setColor("white")'></a></li>
            </ul>
        </nav>



        <div class="portfolio-centered" style="margin-left: 80px;">
            <div class="recentitems portfolio container">

                <div class="portfolio-item books col-md-3" style="margin-top: 20px" dir-paginate="product in view.products | productsFilter:  {material: view.material, color: view.color} | itemsPerPage: 8" isotope-item="">
                    <div class="he-wrap tpl6">
                        <img src="assets/Theme/demos/portfolio_01.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{product.name}}</h3>
                                <a data-rel="prettyPhoto" href="assets/Theme/demos/portfolio_01.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a ng-href="#products/{{product.id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div>
                <!--
                                    <div class="portfolio-item graphic-design col-md-3" style="margin-top: 20px" id="extra" isotope-item="" class="kindling green">
                                        <div class="he-wrap tpl6">
                                            <img src="assets/Theme/demos/portfolio_01.jpg" alt="">
                                            <div class="he-view">
                                                <div class="bg a0" data-animate="fadeIn">
                                                    <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                                    <a data-rel="prettyPhoto" href="assets/Theme/demos/portfolio_01.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                                    <a href="single-portfolio-2.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->


            </div><!-- portfolio -->

        </div><!-- portfolio container -->

        <dir-pagination-controls></dir-pagination-controls>

        <div class="divider"></div>



    </div><!-- end clearix -->
</section><!-- end section -->



