<section class="section1" ng-controller="viewCategoryCtrl as view">
    <div class="clearfix">

        <div class="divider"></div>

        <div class="text-center" ng-hide="view.products.length > 0 || !view.categoryHasResults ">
            <i class="rotating fa fa-spinner fa-4x"></i>
        </div>
        <div class="text-center " ng-show="!view.categoryHasResults">
            <i class="fa fa-meh-o fa-4x"></i><h1>No results available</h1>
        </div>
        <nav class="portfolio-filter clearfix" >
            <ul>
                <li><a href="" class="dmbutton2" ng-class="{'active-shadow':view.getMaterial() == '*'}" ng-show="view.products.length > 0" ng-click='view.setMaterial("*")'>All</a></li>
                <li ng-repeat="material in view.materials"><a ng-class="{'active-shadow':view.getMaterial() == material}"href="" class="dmbutton2" ng-click='view.setMaterial(material)'>{{material}}</a>
            </ul>
        </nav>

        <nav class="portfolio-filter" style="margin-top: -25px">
                <!--TODO: change to circles -->
                <li><a style="border-radius: 50%; width: 25px; height: 25px; padding: 0px;" href="" class="dmbutton2" ng-class="{'active-shadow':view.getColor() == '*'}" ng-show="view.products.length > 0" title="all colors" ng-click='view.setColor("*")'></a></li>
                <li ng-repeat="color in view.colors"><a href="" ng-class="{'active-shadow':view.getColor() == color}" class="dmbutton2" title="{{color.toLowerCase()}}" style="background-color: {{color.toLowerCase()}}; border-radius: 50%; width: 25px; height: 25px; padding: 0px;" ng-click='view.setColor(color)'></a></li>
            </ul>
        </nav>




        <div class="portfolio-centered" style="margin-left: 80px;">
            <div class="recentitems portfolio container">

                <div class="portfolio-item col-md-3" style="margin-top: 20px"
                     dir-paginate="product in view.products | productsFilter:  {material: view.selectedMaterial, color: view.selectedColor} | itemsPerPage: 8">
                    <div class="he-wrap tpl6">
                        <img ng-src="{{view.link + 'images/' + product.image_links[0]}}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{product.name}}</h3>
                                <a data-rel="prettyPhoto" href="{{view.link + 'images/' + product.image_links[0]}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a ng-href="#products/{{product.id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div>

            </div><!-- portfolio -->

        </div><!-- portfolio container -->

        <dir-pagination-controls></dir-pagination-controls>

        <div class="divider"></div>


    </div><!-- end clearix -->
</section><!-- end section -->

<script type="application/javascript">
    $('#jetmenu li').removeClass('active');
    $('#jetmenu .products').addClass('active');
</script>

