.alert-brown {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem;
    font-size: 1.3rem;
    border-color: #696E74;color: white;
    font-weight: normal !important;
    background-color: rgb(177, 157, 111);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.active-shadow {
    webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.ng-invalid.ng-dirty {
    border-color: #8C2D19;
}
/*

.ng-valid.ng-dirty {
    border-color: #78FA89;
}*/