<section class="section1">
    <div class="container clearfix">
        <div class="content clearfix">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i>User profile</h4><br/>

                <div ng-show="errorMessage.length > 0" class="alert alert-danger">{{errorMessage}}</div>

                <form class="form-horizontal style-form" ng-submit="editUser()">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">E-mail</label>

                        <div class="col-sm-3">
                            <input type="email" class="form-control" placeholder="{{user.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Tax ID</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="{{user.tax_id}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Street</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" placeholder="{{user.street}}"
                                   ng-model="newuser.street">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">City</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" placeholder="{{user.city}}"
                                   ng-model="newuser.city">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Zip Code 1</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" size="4" maxlength="4"
                                   placeholder="{{user.zip_code1}}"
                                   ng-model="newuser.zip_code1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Zip Code 2</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control input-sm" size="3" maxlength="3"
                                   placeholder="{{user.zip_code2}}"
                                   ng-model="newuser.zip_code2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Old password</label>

                        <div class="col-sm-3">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': differentPasswords()}">
                        <label class="col-sm-2 col-sm-2 control-label">New password</label>

                        <div class="col-sm-3">
                            <input type="password" class="form-control" ng-model="newuser.password">

                            <p class="help-block" ng-show="differentPasswords()">Passwords must be equal</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': differentPasswords()}">
                        <label class="col-sm-2 col-sm-2 control-label">New password confirmation</label>

                        <div class="col-sm-3">
                            <input type="password" class="form-control" ng-model="newuser.password2">

                            <p class="help-block" ng-show="differentPasswords()">Passwords must be equal</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">
                            <button type="submit" class="btn btn-theme" id="editFormSubmitButton">Save changes</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>